#about{
    @extend %center-column;
    background-color: $primary-color;
    color: white; 
    & h2{
        margin-top: 60px;
        font-size: 2.5rem;
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 20px;
    }
}

.text{
    display: flex;
    justify-content: space-between;
    max-width: 900px;
    font-size: 1.3rem;
    & p{
        max-width: 349px;
        padding-right: 30px;
        padding-left: 30px;
    }
    @media screen and (max-width: 400px) {
        font-size: 1rem;
    }
}