#contact{
    @extend %center-column;
    color: $secondary-color;
    & h2{
        margin-top: 60px;
        font-size: 2.5rem;
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 20px;
    }
}

.form__contact{
    @extend %center-column;
    margin-bottom: 80px;

    & input{
        font-size: 1.7rem;
        width: 70vw;
        padding: 25px 0;
        border-top : none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid #f2f2f2;
        @media screen and (max-width: 400px) {
            font-size: 1.3rem;
        }
    }
}
// .message{
//     height: 250px;
//     &::placeholder{
//         position: relative;
//         bottom: 80px;
//     }
// }

.form-control{
    height: 250px;
    width: 70vw;
    font-size: 1.7rem;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px solid #f2f2f2;
    padding-top: 20px;
    
    &::placeholder{
        font-size: 1.7rem;
        padding-top: 3px;
    }
}