
// About

.btn__container{
    margin-top: 70px;
    padding-bottom: 80px;
}
.btn {
    display: flex;
    justify-content: space-around;
    cursor: pointer;
    width: 250px;
    color: white;
    border: 2px solid white;
    background-color: $primary-color;
    border-radius: 10px;
    font-size: 1.4rem;
    padding: 22px 25px;
    &:hover{
        transition: 400ms;
        background-color: white;
        color: $secondary-color;
    }
}

// Contact

.send{
    cursor: pointer;
    margin-top: 20px;
    border: none;
    background-color: $primary-color;
    color: white;
    padding: 17px 22px;
    border-radius: 5px;
    font-size: 1.3rem;
    transition: 200ms ease-in-out;
    &:hover{
        background-color: darken($primary-color, 10%);
    }
}